.container {
  position: absolute;
  background-color:#fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1615681/pexels-photo-1615681.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-position: center;
  background-size: cover;
}

/* 중앙 참치 이미지 */
.circle {

  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-image: url("https://i.namu.wiki/i/OtQ7RAxKcYGW2wcPxCGaPI7C9MBgmZhr1FeChqVs7mesqE_uVp8rzdkWGt-y5x_lN5Tk2GzRnZXAQ0E1U_7JaQ.webp");
  background-position: center;
  background-size: cover;
  transition: .2s;

}

.circle:hover {
  width: 550px;
  height: 550px;

}

/* 클릭시 카드페이지 이동  */
.to-card-page {
  position: absolute;
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.to-card-page:hover {
  width: 550px;
  height: 550px;

}

.text-icon {
  
  position: relative;
  text-align: center;
}

.material-symbols-outlined {
  
  padding-top: 80px;
  font-size: 28px;
  color: #fff;
}



.font-size {
  color: #fff;
  font-size: 19px;
  padding-top: 15px;
}