:root {
  --box-shadow: 0px 8px 16px 0px #00000033;
}

body {
  font-size: 25px;
  font-weight: 600;
}

h1 {
  display: flex;
  justify-content: center;
}

.nav {
  position: relative;
  z-index: 9;
  border-bottom: 1px solid #353535;
  box-shadow: 0px 0px 9px 2px #353535;
}

.list1 {
  border-radius: 0 0 13px 13px;
  text-align: center;
  height: 250px;
  width: 150px;
  position: absolute;
  top: 100%;
  display: none;
}

.list1.show {
  display: block;
  background-color: black;
}

.memberlist > li {
  padding-top: 10px;
  margin-bottom: 10px;
}
.team {
  position: relative;
  width: 1200px;
  height: 600px;
  color: white;
  margin: 150px auto 150px auto;
  border-radius: 100px;
  opacity: 0;

  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.pexels.com/photos/1615681/pexels-photo-1615681.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

.members {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  top: -30px;
}

.image {
  border-radius: 10px 10px 0 0;
  width: 200px;
  height: 300px;
}

.member {
  background-color: #d4d4d4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.fade-in {
  opacity: 1;
}

.page-change {
  animation: change 1s ease;
}

@keyframes change {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.content {
  margin: 10px;
}

.member_name {
  margin: 10px;
}
