body {
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  padding: 100px 20px 20px 20px;
  margin: 0 auto;
}

.dark_mode {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card-group {
  width: 100%;
  background-color: #d4d4d4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.img {
  width: 50%;
  margin-right: 20px;
}

.card-group img {
  display: block;
  width: 100%;
  margin-right: 30px;
  border-radius: 5px;
}

.card-group h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-group p {
  color: #fff;
  font-size: 1rem;
}

.tag-group {
  margin-bottom: 30px;
}

.tag {
  margin-bottom: 5px;
}

.button {
  text-align: center;
}

@media (max-width: 768px) {
  .img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card-group h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .card-group p {
    font-size: 1rem;
  }
}
