:root[color-theme='dark'] {
  --background: #000;
  --card-bg: #fff;
  --font-color: #fff;
  --btn-color: #727272;
  --tag-border: #fff;
}

:root[color-theme='light'] {
  --black: #fff;
  --card-bg: #d4d4d4;
  --white: #000;
  --btn-color: #fff;
}

html {
  background-color: var(--background);
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

a:hover,
a:visited,
a:active {
  color: white;
}

main {
  padding: 120px 20px 20px 20px;
  background-color: var(--background);
  margin: 0 auto;
}

.top_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: blue;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

#dark_mode_checkbox {
  display: none;
}

.dark_mode_btn {
  background-color: var(--btn-color);
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card-group {
  width: 100%;
  background-color: var(--card-bg);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.img {
  width: 50%;
  margin-right: 20px;
}

.card-group img {
  display: block;
  width: 100%;
  margin-right: 30px;
  border-radius: 5px;
}

.card-group h3 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-group p {
  color: black;
  font-size: 1rem;
}

.tag-group {
  margin-bottom: 30px;
}

.tag {
  margin-bottom: 5px;
}

.btn {
  border: 1px solid var(--tag-border);
}

.button {
  text-align: center;
}

@media (max-width: 768px) {
  .img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card-group h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .card-group p {
    font-size: 1rem;
  }
}
