

body {
  font-family: "Nanum Gothic", sans-serif;
}


.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/1615681/pexels-photo-1615681.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-position: center;
  background-size: cover;
}

/* 중앙 참치 이미지 */

.circle {
  border: 1px solid #0871c7;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-image: url("https://i.namu.wiki/i/OtQ7RAxKcYGW2wcPxCGaPI7C9MBgmZhr1FeChqVs7mesqE_uVp8rzdkWGt-y5x_lN5Tk2GzRnZXAQ0E1U_7JaQ.webp");
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.circle:hover {
  width: 400px;
  height: 400px;
  box-shadow: 0px 8px 10px 10px rgb(44, 43, 43)
}

/* 클릭시 카드페이지 이동 */

.to-card-page {
  position: absolute;
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.to-card-page:hover {
  width: 400px;
  height: 400px;

}

.text-icon {

  position: relative;
  text-align: center;
}

.material-symbols-outlined {

  padding-top: 150px;
  font-size: 28px;
  color: #fff;
}

.font-position {
  color: #fff;
  font-size: 15px;
  padding-top: 15px;
}


.container .gsap,
.text-icon .gsap {
  opacity: 0;
}
