<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer src="../js/main.js"></script>
    <title>사조참치</title>
  </head>
  <body>
    <nav class="nav" id="top">
      <ul class="nav__list">
        <li class="nav__btn">
          <span id="team-name">4JoChamChi</span>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="index.html">홈</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="card-page.html">우리팀 특징 및 규칙</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" id="open">팀원 소개</a>
          <div id="list">
            <ul class="memberlist">
              <li><a href="introduce.html">김래준</a></li>
              <li><a href="introduce2.html">김미희</a></li>
              <li><a href="introduce3.html">민준혁</a></li>
              <li><a href="introduce4.html">장가을</a></li>
              <li><a href="introduce5.html">한혜원</a></li>
            </ul>
          </div>
        </li>
        <li class="nav__weather">
          <div id="weather">
            <span></span>
            <span></span>
          </div>
        </li>
        <!-- 다크모드 버튼 -->
        <li>
          <input type="checkbox" id="dark_mode_checkbox" />
          <label for="dark_mode_checkbox" class="dark_mode_btn">🌝</label>
        </li>
      </ul>
    </nav>
    <div class="team">
      <div>
        <h2>저희는 사조참치 입니다!</h2>
        <h2>(궁극적 목적 등 조 설명 작성)</h2>
      </div>
    </div>
    <div class="members">
      <div class="member fade-in gsap">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgslP3IvAktgE1lSpdpN7WrKXzm4XSLcVuGtACLCLA&s"
          class="image"
        />
        <div class="content">
          <h1 class="member_name">김래준</h1>
          <button type="button" id="member1_btn" class="btn btn-back">
            자세히 보기
          </button>
        </div>
      </div>
      <div class="member fade-in gsap">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgslP3IvAktgE1lSpdpN7WrKXzm4XSLcVuGtACLCLA&s"
          class="image"
        />
        <div class="content">
          <h1 class="member_name">김미희</h1>
          <button type="button" id="member2_btn" class="btn btn-back">
            자세히 보기
          </button>
        </div>
      </div>
      <div class="member fade-in gsap">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgslP3IvAktgE1lSpdpN7WrKXzm4XSLcVuGtACLCLA&s"
          class="image"
        />
        <div class="content">
          <h1 class="member_name">민준혁</h1>
          <button type="button" id="member3_btn" class="btn btn-back">
            자세히 보기
          </button>
        </div>
      </div>
      <div class="member fade-in gsap">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgslP3IvAktgE1lSpdpN7WrKXzm4XSLcVuGtACLCLA&s"
          class="image"
        />
        <div class="content">
          <h1 class="member_name">장가을</h1>
          <button type="button" id="member4_btn" class="btn btn-back">
            자세히 보기
          </button>
        </div>
      </div>
      <div class="member fade-in gsap">
        <img src="../static/image/hyewon.jpeg" class="image" />
        <div class="content">
          <h1 class="member_name">한혜원</h1>
          <button type="button" id="member5_btn" class="btn btn-back">
            자세히 보기
          </button>
        </div>
      </div>
    </div>
    <div class="comments">
      <h2>응원메시지를 남겨주세요!</h2>
      <div class="comments__area">
        <form class="comments__form">
          <input
            type="text"
            id="username"
            class="comments__username"
            placeholder="이름"
          />
          <input
            type="text"
            id="textarea"
            class="comments__textarea"
            placeholder="저희를 응원해 주세요!"
          />
          <button type="button" id="submit_btn" class="btn btn-mbti">
            응원하기
          </button>
        </form>
      </div>
      <div class="comment">
        <span>comment</span>
        <span id="comment__delete">❌</span>
      </div>
    </div>

    <a id="toPersonalIntro" href="introduce.html">개인 소개 페이지</a>
  </body>
  <script src="../js/main.js"></script>
  <script src="../js/weather.js"></script>
  <script src="../js/introduce.js"></script>
  <script src="../js/nav-member-toggle.js"></script>
  <script src="../js/card-page.js"></script>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
    import { getFirestore } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";
    import {
      collection,
      addDoc,
    } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";
    import { getDocs } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-firestore.js";

    // Firebase 구성 정보 설정
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCA_W0Kd8-Quj8vGsbgQ5zcl7IIfm4YGjA",
      authDomain: "sparta-816b8.firebaseapp.com",
      projectId: "sparta-816b8",
      storageBucket: "sparta-816b8.appspot.com",
      messagingSenderId: "838877346235",
      appId: "1:838877346235:web:86b6f2a1013b0a66612c9e",
      measurementId: "G-P881GFJ7Z6",
    };

    // Firebase 인스턴스 초기화
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    $("submit_btn").click(async function () {
      const username = $("#username").val();
      const textarea = $("#textarea").val();

      let doc = { username: username, textarea: textarea };
      await addDoc(collection(db, "comments"), doc);
      alert("저장 완료!");
      window.location.reload();
    });
  </script>
</html>
