<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <!-- RESET CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css"
    />

    <!-- JS -->

    <title>카드페이지</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__btn">
          <span id="team-name">4JoChamChi</span>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="홈페이지html">홈</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="특징 및 규칙.html"> 우리팀 특징 및 규칙</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="개인페이지.html">팀원 소개</a>
        </li>
        <li class="nav__weather">
          <div id="weather">
            <span></span>
            <span></span>
        </li>
        
      </ul>
    </nav>
    <a id="toPersonalIntro" href="introduce.html">개인 소개 페이지</a>
  </body>
  <style>
    #toPersonalIntro {
      padding-top: 200px;
      display: flex;
    }
  </style>
  <script src="./main.js"></script>
  <script src="../js/weather.js"></script>

</html>
