<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/image/tuna_icon.ico" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>사조참치</title>
  </head>
  <body>
    <div class="page-change">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__btn">
            <span id="team-name">4JoChamChi</span>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="index.html">홈</a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="card-page.html">우리팀 특징 및 규칙</a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" id="open">팀원 소개</a>
            <div class="list1" id="list">
              <ul class="memberlist">
                <li><a href="introduce.html">김래준</a></li>
                <li><a href="introduce2.html">김미희</a></li>
                <li><a href="introduce3.html">민준혁</a></li>
                <li><a href="introduce4.html">장가을</a></li>
                <li><a href="introduce5.html">한혜원</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__weather">
            <div id="weather">
              <span></span>
              <span></span>
            </div>
          </li>
          <!-- 다크모드 버튼 -->
          <li>
            <input type="checkbox" id="dark-mode-checkbox" />
            <label for="dark-mode-checkbox" class="dark-mode-btn"></label>
          </li>
        </ul>
      </nav>

      <!-- top 버튼 -->
      <div class="top_btn">
        <span class="material-symbols-outlined top_arrow">
          keyboard_double_arrow_up
        </span>
      </div>

      <div class="team">
        <div>
          <h2>저희는 사조참치 입니다!</h2>
          <h2>(궁극적 목적 등 조 설명 작성)</h2>
        </div>
      </div>
      <div class="members">
        <div class="member fade-in" id="member1">
          <img src="../static/image/laejun.jpg" class="image" />
          <div class="content">
            <h1 class="member_name">김래준</h1>
            <button type="button" id="member1_btn" class="btn btn-back">
              자세히 보기
            </button>
          </div>
        </div>

        <div class="member fade-in" id="member2">
          <img src="../static/image/mihee.jpg" class="image" />

          <div class="content">
            <h1 class="member_name">김미희</h1>
            <button type="button" id="member2_btn" class="btn btn-back">
              자세히 보기
            </button>
          </div>
        </div>
        <div class="member fade-in" id="member3">
          <img src="../static/image/junhyeok.jpg" class="image" />
          <div class="content">
            <h1 class="member_name">민준혁</h1>
            <button type="button" id="member3_btn" class="btn btn-back">
              자세히 보기
            </button>
          </div>
        </div>
        <div class="member fade-in" id="member4">
          <img src="../static/image/kaeul.jpeg" class="image" />
          <div class="content">
            <h1 class="member_name">장가을</h1>
            <button type="button" id="member4_btn" class="btn btn-back">
              자세히 보기
            </button>
          </div>
        </div>
        <div class="member fade-in" id="member5">
          <img src="../static/image/hyewon.jpeg" class="image" />
          <div class="content">
            <h1 class="member_name">한혜원</h1>
            <button type="button" id="member5_btn" class="btn btn-back">
              자세히 보기
            </button>
          </div>
        </div>
      </div>
      <div class="comments">
        <h2>응원메시지를 남겨주세요!</h2>
        <div class="comments__area">
          <form class="comments__form">
            <input
              type="text"
              id="username"
              class="comments__username"
              placeholder="이름"
            />
            <input
              type="text"
              id="textarea"
              class="comments__textarea"
              placeholder="저희를 응원해 주세요!"
            />
            <button type="button" id="submit_btn" class="btn btn-mbti">
              응원하기
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/weather.js"></script>
    <script src="../js/dark-mode.js"></script>
    <script src="../js/nav-member-toggle.js"></script>
    <script src="../js/card-page.js"></script>
    <script src="../js/top-button.js"></script>
    <script type="module" src="../js/comment.js"></script>
  </body>
</html>
