<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="../static/css/style.css" />
    
    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="../js/main.js"></script>
    
    <title>사조참치</title>
  </head>
  <body>
    <div class="container page-change">
      <div class="circle gsap">
        <a class="to-card-page gsap" href="./card-page.html"></a>
      </div>

      <div class="text-icon">
        <span class="material-symbols-outlined gsap">
          left_click
          <p class="font-position gsap">Click the Tuna</p>
        </span>
      </div>

    </div>
  </body>
</html>

