<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>사조참치</title>
  </head>
  <body>
    <div class="container">
      <div class="circle">
        <a class="to-card-page" href="./card-page.html"></a>
      </div>
    </div>

    <div class="text-icon">
      <span class="material-symbols-outlined">
        left_click
        <p class="font-size">Click the Tuna</p>
      </span>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>
