<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>사조참치</title>
  </head>
  <body id="top">
    <div class="page-change">
    <nav class="nav" id="top">
      <ul class="nav__list">
        <li class="nav__btn">
          <span id="team-name">4JoChamChi</span>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="index.html">홈</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="card-page.html">우리팀 특징 및 규칙</a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" id="open">팀원 소개</a>
          <div id="list">
            <ul class="memberlist">
              <li><a href="introduce.html">김래준</a></li>
              <li><a href="introduce2.html">김미희</a></li>
              <li><a href="introduce3.html">민준혁</a></li>
              <li><a href="introduce4.html">장가을</a></li>
              <li><a href="introduce5.html">한혜원</a></li>
            </ul>
          </div>
        </li>
        <li class="nav__weather">
          <div id="weather">
            <span></span>
            <span></span>
          </div>
        </li>
        <!-- 다크모드 버튼 -->
        <li>
          <input type="checkbox" id="dark-mode-checkbox" />
          <label for="dark-mode-checkbox" class="dark-mode-btn"></label>
        </li>
      </ul>
    </nav>
    <main>
      <!-- top 버튼 -->
      <a class="top_btn" href="#top">
        <span class="material-symbols-outlined top_arrow">
          keyboard_double_arrow_up
        </span>
      </a>
      <div class="inner">
        <!-- 카드 -->
        <div class="card-group">
          <div class="introduce__github">
            <a href="https://github.com/laejun-kim">
              <i class="fa-brands fa-github fa-xl" ></i>
            </a>
          </div>
          <div class="img">
            <img
              src="https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg"
              alt="소개사진"
            />
          </div>
          <div class="introduce">
            <h3>한혜원</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
              aperiam aliquam autem rerum soluta aut explicabo provident, cumque
              voluptatibus quam.
            </p>
          </div>
        </div>

        <!-- 태그 -->
        <div class="tag-group">
          <div class="tag">
            <button type="button" class="btn tag-title btn-mbti">MBTI ></button>
            <button type="button" class="btn btn-mbti">#INFP</button>
          </div>
          <div class="tag">
            <button type="button" class="btn tag-title btn-habit">
              취미 >
            </button>
            <button type="button" class="btn btn-habit">#넷플릭스</button>
            <button type="button" class="btn btn-habit">#운동</button>
            <button type="button" class="btn btn-habit">#영화보기</button>
            <button type="button" class="btn btn-habit">#독서</button>
          </div>
          <div class="tag">
            <button type="button" class="btn tag-title btn-strength">
              장점 >
            </button>
            <button type="button" class="btn btn-strength">#꾸준함</button>
            <button type="button" class="btn btn-strength">#착함</button>
          </div>
          <div class="tag">
            <button type="button" class="btn tag-title btn-collaboration">
              협업스타일 >
            </button>
            <button type="button" class="btn btn-collaboration">#착함</button>
            <button type="button" class="btn btn-collaboration">
              #의사소통잘함
            </button>
          </div>
        </div>
      </div>
    </div>
      <!-- 하단 버튼 -->
      <div class="button">
        <button type="button" class="btn btn-back">뒤로가기</button>
        <button type="button" class="btn btn-home">홈으로</button>
      </div>
    </main>

    <script src="../js/weather.js"></script>
    <script src="../js/introduce.js"></script>
    <script src="../js/nav-member-toggle.js"></script>
    <script
      src="https://kit.fontawesome.com/971fe645b6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>