<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/image/tuna_icon.ico" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>사조참치</title>
  </head>
  <body>
    <div class="page-change">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__btn">
            <span id="team-name">4JoChamChi</span>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="index.html">홈</a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" href="card-page.html">우리팀 소개</a>
          </li>
          <li class="nav__btn">
            <a class="nav__link" id="open">팀원 소개</a>
            <div class="list1" id="list">
              <ul class="memberlist">
                <li><a href="introduce.html">김래준</a></li>
                <li><a href="introduce2.html">김미희</a></li>
                <li><a href="introduce3.html">민준혁</a></li>
                <li><a href="introduce4.html">장가을</a></li>
                <li><a href="introduce5.html">한혜원</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__weather">
            <div id="weather">
              <span></span>
              <span></span>
            </div>
          </li>
          <!-- 다크모드 버튼 -->
          <li>
            <input type="checkbox" id="dark-mode-checkbox" />
            <label for="dark-mode-checkbox" class="dark-mode-btn"></label>
          </li>
        </ul>
      </nav>
      <main>
        <!-- top 버튼 -->
        <div class="top_btn">
          <span class="material-symbols-outlined top_arrow">
            keyboard_double_arrow_up
          </span>
        </div>
        <div class="inner">
          <!-- 카드 -->
          <div class="card-group">
            <div class="introduce__github">
              <a href="https://github.com/hyewon-han">
                <i class="fa-brands fa-github fa-xl"></i>
              </a>
            </div>
            <div class="img">
              <img src="../static/image/hyewon2.jpeg" alt="소개사진" />
            </div>
            <div class="introduce">
              <h3>한혜원</h3>
              <div class="introduce__text">
                <p>
                  안녕하세요! 개발자라는 새로운 꿈을 꾸고 있는 한혜원 입니다 😀
                </p>
                <p>내배캠에서 5개월 동안 함께 꾸준히 성장하고 싶어요 😊</p>
                <p>다같이 포기하지 않고 끝까지 완주합시다!💪</p>
                <p>잘 부탁드립니다 🤗</p>
              </div>
            </div>
          </div>

          <!-- 태그 -->
          <div class="tag-group">
            <div class="tag">
              <button type="button" class="btn tag-title btn-mbti">
                MBTI >
              </button>
              <button type="button" class="btn btn-mbti">#ISFP</button>
              <button type="button" class="btn btn-mbti">#INTP</button>
            </div>
            <div class="tag">
              <button type="button" class="btn tag-title btn-habit">
                취미 >
              </button>
              <button type="button" class="btn btn-habit">#러닝</button>
              <button type="button" class="btn btn-habit">#독서</button>
              <button type="button" class="btn btn-habit">#여행</button>
              <button type="button" class="btn btn-habit">#등산</button>
            </div>
            <div class="tag">
              <button type="button" class="btn tag-title btn-strength">
                장점 >
              </button>
              <button type="button" class="btn btn-strength">
                #의자에오래앉아있기
              </button>
              <button type="button" class="btn btn-strength">
                #무던하고긍정적인편
              </button>
            </div>
            <div class="tag">
              <button type="button" class="btn tag-title btn-collaboration">
                협업스타일 >
              </button>
              <button type="button" class="btn btn-collaboration">
                #주어진일끝까지해냄
              </button>
              <button type="button" class="btn btn-collaboration">
                #안되는건물어서라도해결
              </button>
            </div>
          </div>
        </div>

        <!-- 하단 버튼 -->
        <div class="button">
          <button type="button" class="btn btn-back">뒤로가기</button>
          <button type="button" class="btn btn-home">홈으로</button>
        </div>
      </main>
    </div>

    <script src="../js/weather.js"></script>
    <script src="../js/introduce.js"></script>
    <script src="../js/nav-member-toggle.js"></script>
    <script src="../js/top-button.js"></script>
    <script src="../js/dark-mode.js"></script>
    <script
      src="https://kit.fontawesome.com/971fe645b6.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
